# 编译生成的应用文件
*.apk
*.ap_

# ART/Dalvik 虚拟机文件
*.dex

# Java 类文件
*.class

# 生成的文件目录
bin/
gen/
out/

# Gradle 文件
.gradle/
build/

# 本地配置文件（SDK 路径等）
local.properties

# Eclipse 生成的 Proguard 文件夹
proguard/

# 日志文件
*.log

# Android Studio 导航编辑器临时文件
.navigation/

# Android Studio 截图文件夹
captures/

# IntelliJ IDEA 文件
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# 密钥库文件
# 如果您不想将密钥库文件签入版本控制，请取消注释以下行。
#*.jks

# Android Studio 2.2 及更高版本生成的外部原生构建文件夹
.externalNativeBuild

# Google 服务（例如 API 或 Firebase）
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
